<footer th:fragment="footer" class="bg-dark text-light py-4 mt-auto">
    <div class="container text-center">
        <p class="mb-0">&copy; 2026 RideEasy Vehicle Rental System. All rights reserved.</p>
        <div class="mt-2">
            <a href="#" class="text-light me-3"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="text-light me-3"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>
